<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<title>Document</title>
</head>
<body>
	 <div class="todo-form">
	 	<h1 >Update</h1>
	 	<h1>{{note.id}} {{note.title}} jk</h1>
	<form method="POST" action="./update">
    <input class="input-text" type="text" value="{{note.title}}" name="newtitle">
    <textarea cols="85" rows="10" type="text"  name="newnote">{{note.note}}</textarea>
    <input class="input-text" type="submit" value="Update">
  </form>
  </div>
</body>
</html>